<?xml version="1.0" encoding="UTF-8"?>

<!-- Config file for SLF4j logger library -->

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level: %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Configure so that it outputs to both console and log file -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>